.header__back__1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 60px;
    background-color: #242424;
    font-size: 18px;
}

.header__back i:first-child {
    font-size: 35px;
    color: #CECECE;
}

i {
    font-size: 24px;
    color: #CECECE;
}

.movie__pic {
    min-width: 35%;
    height: 11rem;
}

.movie__projection {
    background-color: #323232;
    padding: 5px 25px 15px 25px;
    display: flex;
    gap: 10px;
    height: 27vh;
    align-items: center;
}

.summary:nth-child(2),
.summary:nth-child(4) {
    color: #CECECE;
    font-size: 18px;
}

.order-summary {
    color: #999999;
    padding: 20px 25px 0px 25px;
    font-weight: bold;
}

.order-number {
    margin-bottom: 20px;
}

.ticket-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFF
}

hr {
    border: none;
    border-top: 1px solid #333333;
    margin: 15px 0;
}

.price-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 16px;
    color: #CECECE
}

.payment__container {
    color: white;
    padding: 5px 25px 16px 25px;
    border-radius: 12px;
    width: 100%;
}

.payment__title {
    font-size: 18px;
    margin-bottom: 12px;
}

.payment__card {
    background-color: #2a2a2a;
    border-radius: 8px;
    padding: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 80px;
    cursor: pointer;
    gap: 25px
}

.payment__card img {
    width: 25%;
    height: 100%;
    border-radius: 5px
}

.card__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 40%;

}

.payment__logo {
    width: 40px;
    height: 24px;
}

.payment__card__info {
    font-weight: bold;
}

.payment__card__number {
    color: #a0a0a0;
}

.payment__card__indicator {
    width: 30px;
    height: 30px;
    border: 2px solid #FE0000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.payment__card__indicator__inner {
    width: 20px;
    height: 20px;
    background-color: #FE0000;
    border-radius: 50%;

}

.payment__timer {
    background-color: #3a1a1a;
    border-radius: 8px;
    padding: 12px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}


.payment__timer__countdown {
    font-weight: bold;
    color: #FE0000
}

.payment__card--active {
    border: 1px solid #CECECE
}


.button_order {
    background-color: #FE0000;
    color: #FFFF;
    width: 100%;
    padding: 15px 0px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10rem;
}
